<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="/static/table.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



   <div class="dashboard">
    <!-- <body style="text-align:center;"> -->
         <div class="dashboard-screen">
             <div class="app-title">
                <p> You are successful logged in!  <a href='/logout'>Logout</a> </p>
                <p> Worklog result <a href='/userProfile'>User Profile Information</a> </p>
             </div>
             <div class="dashboard-form">
                <table class="content-table">

                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Project Key</th>
                        <th>Project Name</th>
                        <th>Details</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for item in data %}
                    <tr>
                       <td>{{item.id}}</td>
                       <td>{{item.key}}</td>
                       <td>{{item.name}}</td>
                       <td>
                       <a href="/getBoard/{{item.boardid}}">
                          <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                       </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
             </div>
         </div>
    </div>
<!-- </body> -->