<!DOCTYPE html>
<html lang="en">
<head>
<!--  <link rel="stylesheet" href="/static/style.css" type="text/css">-->
  <link rel="stylesheet" href="/static/profile.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <div class="dashboard-screen" style="margin-top: 40px;">
     <div class="app-title">
       <div class="container mt-2">
          <div class="row">
            <div class="col-md-3 col-sm-6 item">
                <p> <a href='/pipelineTeams'><button>Go Back</button></a> </p>
            </div>
          </div>
       </div>
     </div>
   <div class="container mt-2">
      <div class="row">
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block" style="padding-top: 5px;">
                <p class="card-text"><a href='/seUserProfile'>Worklog for previous month</a></p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-3 col-sm-6 item">
              <div class="card item-card card-block" style="padding-top: 5px;">
                    <p class="card-text"><a href='/seUserWorklogDateWise'>Worklog for date wise</a></p>
              </div>
        </div>
      </div>
   </div>
  </div>

</body>
</html>